@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata_Expanded-Regular.ttf');
}

@layer components {
  .promotionSection {
    @apply flex flex-col max-w-[450px] md: max-w-[950px] lg:max-w-[1400px] items-center justify-center mt-[150px] px-4 md:px-10;
  }
}