@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata_Expanded-Regular.ttf');
}

